body
{
  background-color: #005B6B;
}

/*First*/
#intro
{
  font-size: 30px;
  font-family: 'IM Fell Double Pica', serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

#main
{
  display: block;
  text-align: center;
  margin-top: 10%;
}

#random
{
  margin-bottom: 50px;
  width: 230px;
}

#random a
{
  color: white;
  text-decoration: none;
  display: block;
}

.search-box
{
  border-style: none;
  border-radius: 10px;
  padding: 5px;
}

/*Second*/
#menu
{
  display: block;
  height: 35px;
  border-bottom: 1px solid green;
  margin-bottom: 10%;
}

#back
{
  float: left;
  border-style: none;
  color: #00176B;
  background-color: transparent;
  font-size: 20px;
}

#back:hover
{
  background-color: #508FFF;
}

#upper-search-layout
{
  float: right;
  position: relative;
  left: -10px;
}

#results
{
  font-family: 'IM Fell Double Pica', serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

/*inividual*/
.containers
{
    margin: 20px auto;
    background-color: #00176B;
}

.containers:hover
{
    background-color: #6B0B00;
}

.wrapper
{
    display: block;
    text-decoration: none;
}

.wrapper:hover
{
    text-decoration: none;
}

.title
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.desc
{
    font-size: 17px;
    color: white;
}

.url
{
    font-size: 13px;
    color: green;
    text-align: right;
    margin-right: 2px;
}

#error
{
    font-size: 25px;
    text-align: center;
    color: red;
}

#copyright
{
    color: white;
    text-align: center;
    margin-top: 20%;
}
